<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NoVacancyEntities" connectionString="metadata=res://*/NoVacancy.csdl|res://*/NoVacancy.ssdl|res://*/NoVacancy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCADAOAS\SQLEXPRESS;initial catalog=NoVacancy;persist security info=True;user id=sa;password=p@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>